*{
    box-sizing: border-box;
}
.row {
    width: 100%;
    
  }

.text{
    text-align: center;
    font-family: sans-serif;
}


.body-section{
    position: relative;
    font-family: sans-serif;
}

.chicken{
    position: absolute;
    top: 0;
    right: 0px;
    background-color: #D59898;
    width: 90px;
    height: 30px;
    text-align: center; 
    padding: 9px; 
}

.beef{
    position: absolute;
    top: 0;
    right: 0px;
    background-color: #C14543;
    width: 90px;
    height: 30px;
    text-align: center; 
    padding: 9px; 
    
}

.sushi{
    position: absolute;
    top: 0;
    right: 0px;
    background-color: #E5D198;
    width: 90px;
    height: 30px;
    text-align: center; 
    padding: 9px; 
    
}

p{
    
    padding: 33px 25px 5px 25px;
    background-color: #bfbfbf;
    border: 2px solid black;
    height: 130px;
    margin-right: 15px;
    overflow: hidden;
}


@media (min-width: 992px)    {
    .col-lg-4{
        float: left;
        width: 33.33%;        
    }

}


@media (min-width: 768px) and (max-width: 991px){

    .col-md-6, .col-md-12{
        float: left;
               
    }
    .col-md-6{
        width: 50%;
    }
    .col-md-12{
        width: 100%;
    }

   }

@media (max-width: 767px){
   
    .col-sm-12{
        float: left;
                
    }
    .col-sm-6{
        width: 100%;
    }
    .col-sm-12{
        width: 100%;
    }

    
}

